# ide
.idea
.project
.cproject
.settings
.vs
.vscode

# builder
build*
out
CMakeSettings.json
*.la
*lo
*.a
*.o
*.loT
*.deps
*.libs
*.log

# coverage
coverage.info

# others
debug

# clangd
**/.cache
**/compile_commands.json
**/compile_flags.txt
